@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

:root{
  --yellow: #e8d40c;
  --blue: #365eaa;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--yellow);
  font-family: 'Holtwood One SC', serif;
  color: var(--blue);
}